{% load static %}
<!-- CSS CUSTOM -->
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/header.css' %}">
{% endblock extra_css %}
<div style="background: url({% static 'images/lib1.jpg' %})" class="page-holder bg-cover">

  <div class="container py-5">
    <header class="text-center text-white py-5">
      <h1 class="display-4 font-weight-bold mb-4"style="color:black; font-size:90px">
        Universal Digital Library.
      </h1>
      <p class="lead mb-0 font-weight-bold" style="font-size:40px">
        SATISFY THE THIRST OF KNOWLEDGE
      </p>
    </header>
  </div>
  <div style="float:right">

  </div>
</div>

